<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.ccu.data.common.NationModelMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.ccu.model.common.NationModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nation
  </sql>

    <select id="select" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from nation
    </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.ccu.model.common.NationModel" >
    insert into nation (id, nation)
    values (#{id,jdbcType=INTEGER}, #{nation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ccu.model.common.NationModel" >
    insert into nation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nation != null" >
        nation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ccu.model.common.NationModel" >
    update nation
    <set >
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.ccu.model.common.NationModel" >
    update nation
    set nation = #{nation,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>